Imod automatic tilt series alignment workflow
[
    {
        "object.className": "ProtImodXraysEraser",
        "object.id": "6622",
        "object.label": "imod - X-rays eraser",
        "object.comment": "Remove pixel artefacts",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "peakCriterion": 8.0,
        "diffCriterion": 6.0,
        "maximumRadius": 4.2,
        "bigDiffCriterion": 19,
        "processOddEven": true
    },
    {
        "object.className": "ProtImodDoseFilter",
        "object.id": "6659",
        "object.label": "imod - Dose filter",
        "object.comment": "Dose-weighting of the tilt-series",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "initialDose": 0.0,
        "inputDoseType": 0,
        "fixedImageDose": 1.0,
        "processOddEven": true,
        "inputSetOfTiltSeries": "6622.TiltSeries"
    },
    {
        "object.className": "ProtImodXcorrPrealignment",
        "object.id": "6695",
        "object.label": "imod - Coarse prealignment",
        "object.comment": "Make a coarse XY alignment with imod",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "cumulativeCorr": false,
        "computeAlignment": false,
        "binning": 1,
        "Trimming parameters": null,
        "tiltAxisAngle": null,
        "pxTrim": "40 40",
        "xmin": null,
        "xmax": null,
        "ymin": null,
        "ymax": null,
        "filterRadius1": 0.0,
        "filterSigma1": 0.03,
        "filterRadius2": 0.25,
        "filterSigma2": 0.05,
        "inputSetOfTiltSeries": "6659.TiltSeries"
    },
    {
        "object.className": "ProtImodFiducialModel",
        "object.id": "6741",
        "object.label": "imod - Generate fiducial model",
        "object.comment": "Identify fiducials in the tilt-series",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "typeOfModel": 0,
        "sizeOfPatches": "680 680",
        "patchLayout": 0,
        "overlapPatches": "0.33 0.33",
        "numberOfPatches": null,
        "iterationsSubpixel": 1,
        "pxTrim": "40 40",
        "xmin": null,
        "xmax": null,
        "ymin": null,
        "ymax": null,
        "filterRadius1": 0.0,
        "filterSigma1": 0.03,
        "filterRadius2": 0.125,
        "filterSigma2": 0.03,
        "fiducialDiameter": 10.0,
        "twoSurfaces": false,
        "numberFiducial": 15,
        "doTrackWithModel": true,
        "refineSobelFilter": true,
        "scalableSigmaForSobelFilter": 0.12,
        "inputSetOfTiltSeries": "6695.TiltSeries"
    },
    {
        "object.className": "ProtImodFiducialAlignment",
        "object.id": "6794",
        "object.label": "imod - Fiducial alignment",
        "object.comment": "Solve for tilt-series alignment using identified fiducials",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "twoSurfaces": false,
        "computeAlignment": true,
        "binning": 2,
        "rotationSolutionType": 3,
        "groupRotationSize": 5,
        "magnificationSolutionType": 1,
        "groupMagnificationSize": 4,
        "tiltAngleSolutionType": 1,
        "groupTiltAngleSize": 5,
        "distortionSolutionType": 0,
        "xStretchGroupSize": 7,
        "skewGroupSize": 11,
        "eraseGoldBeads": true,
        "betterRadius": 18,
        "inputSetOfLandmarkModels": "6741.FiducialModelGaps"
    }
]