Imod automatic tilt series alignment workflow
[
    {
        "object.className": "ProtImodXraysEraser",
        "object.id": "152",
        "object.label": "imod - X-rays eraser",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "peakCriterion": 8.0,
        "diffCriterion": 6.0,
        "maximumRadius": 4.2,
        "bigDiffCriterion": 19
    },
    {
        "object.className": "ProtImodDoseFilter",
        "object.id": "217",
        "object.label": "imod - Dose filter",
        "object.comment": "",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "initialDose": 0.0,
        "inputDoseType": 1,
        "fixedImageDose": 2.0,
        "inputSetOfTiltSeries": "152.TiltSeries"
    },
    {
        "object.className": "ProtImodXcorrPrealignment",
        "object.id": "9310",
        "object.label": "imod - Coarse prealignment",
        "object.comment": "Make a first aproximate alignment with imod",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "cumulativeCorr": 0,
        "computeAlignment": 0,
        "binning": 2.0,
        "filterRadius1": 0.0,
        "filterRadius2": 0.25,
        "filterSigma1": 0.03,
        "filterSigma2": 0.05,
        "inputSetOfTiltSeries": "217.TiltSeries"
    },
    {
        "object.className": "ProtImodFiducialModel",
        "object.id": "9451",
        "object.label": "imod - Generate fiducial model",
        "object.comment": "Identify fiducials in the tilt series",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "fiducialDiameter": 9.0,
        "twoSurfaces": 1,
        "numberFiducial": 15,
        "doTrackWithModel": true,
        "shiftsNearZeroFraction": 0.2,
        "refineSobelFilter": 1,
        "scalableSigmaForSobelFilter": 0.5,
        "inputSetOfTiltSeries": "9310.TiltSeries"
    },
    {
        "object.className": "ProtImodFiducialAlignment",
        "object.id": "9570",
        "object.label": "imod - Fiducial alignment",
        "object.comment": "Make sense of the fiducials identified before and the tilt angles to calculate a fine tuned alignment.",
        "_useQueue": false,
        "_prerequisites": "",
        "_queueParams": null,
        "runName": null,
        "runMode": 0,
        "twoSurfaces": 1,
        "computeAlignment": 0,
        "binning": 2.0,
        "rotationSolutionType": 3,
        "groupRotationSize": 5,
        "magnificationSolutionType": 1,
        "groupMagnificationSize": 4,
        "tiltAngleSolutionType": 1,
        "groupTiltAngleSize": 5,
        "distortionSolutionType": 0,
        "xStretchGroupSize": 7,
        "skewGroupSize": 11,
        "eraseGoldBeads": 1,
        "betterRadius": 18,
        "inputSetOfLandmarkModels": "9451.FiducialModelGaps"
    }
]